$bg-color:#ac1111;
$border-color:#ad2121;

    button {
        border-color: $border-color;
        background-color: $bg-color;
        color: white;
        padding: 10px 15px;
        font-size: 1rem;
        outline: none;
        border-radius: 10px;
        box-shadow: 2px 2px 5px $bg-color;
        vertical-align:top;

        &.inverted {
            border-color: $border-color;
            background-color: white;
            color: black;
            border: black;
            box-shadow: none;
            &:hover {
                border-color: $border-color;
                background-color: $bg-color;
                color: white;
            }
        }

        &:hover {
            background-color: white;
            color: black;
            cursor: pointer;
            border: none;
        }

        &.googleBtn {
            background-color: white;
            color: black;
            border: none;
            &:hover {
                background-color: #422215;
                color: white;
            }
        }
        .svgLogo {
            margin-right: .5rem;
        }
}