.preview-item-container {
    width: 22%;
    height: 400px;
}

.preview-container {
    display: flex;
    justify-content: space-between;
}

.preview-image {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.footer {
    display: flex;
    justify-content: space-between;
}