$sub-color: grey;
$main-color: black;
@mixin labelPositionChange {
    top:-15px;
    font-size: 10px;
    color: $main-color;
}

input[type="password"] {
    letter-spacing: 1ch;
}

.input-container {
    margin-top: 20px;
    position: relative;
    height: 4rem;
    color: $main-color;
    margin: 20px 0px;
    input {
        border: none;
        border-bottom: 1px solid black;
        width: 100%;
        outline: none;
        font-size: 20px;
        &:focus ~ .input-label {
        @include labelPositionChange();
        }
    }
    
    .input-label {
        position: absolute;
        top: 0px;
        left: 0px;
        color:$sub-color;
        pointer-events: none;
        font-size:small;
        &.shrink {
            @include labelPositionChange();
        }
    }
}